<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.train.dao.UserManageMapper">
<!-- 查询所有职员 -->
<select id="selectAllUser" resultType="java.util.Map" parameterType="java.util.Map">
	SELECT 
	user.id,
	user.user,
	user.username,
	user.sex,
	department.departname,
	user.telephonenumber
	FROM user,department 
	WHERE 
	user.depid=department.id AND user.role=0;
</select>
<select id="selectUserById" resultType="java.util.Map" parameterType="java.util.Map">
	SELECT 
	user.id,
	user.user,
	user.username,
	user.sex,
	user.username,
	user.depid,
	user.createTime,
	user.updateTime,
	department.departname,
	user.telephonenumber
	FROM user,department 
	WHERE 
	user.depid=department.id AND user.id=#{id};
</select>
<!-- 按姓名模糊查询职员 -->
<select id="selectUserByName" resultType="java.util.Map" parameterType="java.util.Map">
	SELECT 
	user.id,
	user.user,
	user.username,
	user.sex,
	department.departname,
	user.telephonenumber
	FROM user,department 
	WHERE 
	user.depid=department.id AND user.role=0 AND user.username like '%${username}%';
</select>
<!-- 按姓名模糊查询管理员 -->
<select id="selectAdministratorByName" resultType="java.util.Map" parameterType="java.util.Map">
	SELECT 
	user.id,
	user.user,
	user.username,
	user.sex,
	department.departname,
	user.telephonenumber
	FROM user,department 
	WHERE 
	user.depid=department.id AND user.role=1 AND user.username like '%${username}%';
</select>
<!-- 查询所有管理员 -->
<select id="selectAllAdministrator" resultType="java.util.Map" parameterType="java.util.Map">
	SELECT 
	user.id,
	user.user,
	user.username,
	user.sex,
	department.departname,
	user.telephonenumber
	FROM user,department 
	WHERE 
	user.depid=department.id AND user.role=1;
</select>
<!-- 批量添加职员信息 -->
<insert id="insertAllUser" parameterType="java.util.List">
	INSERT INTO user(
	user,
	password,
	createTime,
	updateTime,
	depid,
	role
	)
	VALUES
	<foreach collection ="list" item="item" index= "index" separator =",">
	(
	#{item.user},
	#{item.password},
	#{item.createTime},
	#{item.updateTime},
	7,
	0
	)
	</foreach>
</insert>
<!-- 添加管理员信息 -->
<insert id="insertAdministrator" parameterType="java.util.List">
	INSERT INTO user(
	user,
	password,
	role
	)
	VALUES
	(
	#{user},
	#{password},
	#{role}
	)
</insert>
<!-- 修改用户信息及密码 -->
<update id="updateUserInfo" parameterType="java.util.Map">
	UPDATE user
	<set>
	<if test="password !='' and password != null">
	password=#{password},
	</if>
	<if test="sex !='' and sex != null">
	sex=#{sex},
	</if>
	<if test="depid !='' and depid != null">
	depid=#{depid},
	</if>
	<if test="telephonenumber !='' and telephonenumber != null">
	telephonenumber=#{telephonenumber},
	</if>
	<if test="username !='' and username != null">
	username=#{username},
	</if>
	<if test="updateTime !='' and updateTime != null">
	updateTime=#{updateTime},
	</if>
	<if test="role !='' and role != null">
	role=#{role},
	</if>
	</set>
	WHERE
	id = #{id}
</update> 
<!-- 修改账号范围的开始 -->
<update id="updateUserStart" parameterType="java.util.Map">
	UPDATE userstart
	set
	userstart=#{userstart}
	WHERE
	id = 1
</update> 
<!-- 查询账号开始的值 -->
<select id="selectUserStart" resultType="java.util.Map" parameterType="java.util.Map">
	SELECT userstart FROM userstart WHERE id = 1
</select>
<!-- 删除部门 -->
<delete id="deleteUserById" parameterType="java.util.Map">
		DELETE
		FROM
			user
		WHERE
			id = #{id};
</delete>
<!-- 将该用户设置为管理员 -->
<update id="updateUserToAdministrator" parameterType="java.util.Map">
	UPDATE user
	set
	updateTime=#{updateTime},
	role=1
	WHERE
	id = #{id}
</update> 
<!-- 修改用户密码 -->
<update id="updatePassword" parameterType="java.util.Map">
	UPDATE user
	set
	password=#{password}
	WHERE
	id = #{id};
</update> 

</mapper>